body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.red-color{
    color:red;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img {
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: olivedrab;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner0.jpg);
    background-repeat: no-repeat;
    width: 100%;
}